# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Precompiled Headers
**.gch
**.pch

# Compiled Dynamic libraries
**.so
**.dylib
**.dll

# Compiled Static libraries
**.lai
**.la
**.a
**.lib

lnInclude/

**.dep
**.swp
**.swo

libWENOEXT-2.3.x/lnInclude/
**/Make/*
libWENOEXT-2.3.x/Make/linux64IccDPInt32Opt
**/processor*
!**/Make/files
!**/Make/options