# Compiled Object files
**.slo
**.lo
**.o
**.obj

# Precompiled Headers
**.gch
**.pch

# Compiled Dynamic libraries
**.so
**.dylib
**.dll

# Compiled Static libraries
**.lai
**.la
**.a
**.lib

**.dep
**.swp
**.swo

# Exclude the Make linux files
libWENOEXT/Make/linux*
tests/**/linux*

# Exclude dynamic code
**/dynamicCode/

versionRules/foamVersion4weno.H
versionRules/foamVersion
foamVersionThisIsCompiledFor

**/processor*
tutorials/cavity/constant/polyMesh/*
tutorials/cavity/constant/WENO*
!tutorials/cavity/constant/polyMesh/blockMeshDict
tutorials/cavity/0.1
tutorials/wedge/constant/polyMesh
tutorials/wedge/constant/WENOBase*
tutorials/wedge/0.1


logs
.vscode

tests/case/constant/polyMesh

# ignore all lnIncludes
lnInclude/
*.exe

# Ignore the polyMesh files
tests/Case/constant/polyMesh
tests/Case/0

# ignore WENO directories
tests/**/WENOBase*
