name: OpenFOAM 5.x

on:
  push:
    branches: [ master, dev-CI]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: OpenFOAM5
      run: make runTestsOF5
